<h1 class="main_title">Bienvenido a la Panaderia</h1>
<section class="hero_section">
    <div class="hero_card">
        <img src="https://res.cloudinary.com/dpisx0ysb/image/upload/v1738280263/BREAD-SVG_qm9b6q.svg" alt="Logo de pan">
        <button class="products_link">
            <a href="/product">Ver todos los productos</a>
        </button>
    </div>
</section>