*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

.main_title{
    text-align: center;
    padding-block: 10px;
}

.hero_section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

.hero_card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 100%;
}

.hero_card img{
    width: 250px;
    height: 250px;
}

.hero_card a{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
    border: 1px solid #333;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 10px;
    margin-bottom: 10px;
}

.hero_card button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
    border: 1px solid #333;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 10px;
    margin-bottom: 10px;
}

.hero_card button a{
    text-decoration: none;
    text-transform: capitalize;
}



.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
}

.navbar a{
    color: #fff;

}

.navbar_products{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    align-items: center;
    background-color:#101010;
    color: #fff;
    padding: 10px;
    gap: 4px;
}

.navbar_products a{
    color: #fff;
    font-size: small;
    
}

.navbar_products p{
    font-size: small;
    
}

.info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-self:center;
    align-items: center;
    background-color: #f0f0f0;
    color: #333;
    padding: 10px;
    width: 100%;
}

.product_list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
}

.product_card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: center;
    justify-self: center;
    align-items: center;
    background-color: #f0f0f0;
    padding: 10px;
    width: 200px;
    flex-basis: 250px;
    flex-grow: 1;
    min-height: 400px;
}

.product_card img{
    width: 100px;
    height: 100px;
}

.product_card p{
    color: #333;
}

.add_to_cart{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
    width: 100%;
    border: 1px solid #333;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 10px;
    margin-bottom: 10px;
}

.add_to_cart:hover{
    background-color: #fff;
    color: #333;
}
